@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font-size: 0.75rem;
}
p {
  font-size: 1.3rem;
  margin-bottom: 1em;
}
ul, li {
  list-style: none;
}
a { 
    text-decoration: none;
}
h1 {
  font-size: 1.8rem;
  margin-bottom: 1em;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 2em;
}
form > div {
  margin-bottom: 15px;
}
label {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
label span {
  font-size: 80%;
}
input {
  border-radius: 3px;
  font-size: 1.3rem;
  height: 38px;
  width: 100%;
}
input:disabled {
  opacity: .5;
}
input[type=email] {
  border: 1px solid #cfcfcf;
  padding: 10px;
}
input[type=submit] {
  background: rgb(76, 126, 167);
  border: 1px solid rgb(76, 126, 167);
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 100%;
}
.hidden {
  display: none;
}

#content-wrapper {
  font-size: 2rem;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1rem;
  }
    form {
    width: 240px;
  }

  .container {
    width: 80%;
  }

  #content-wrapper {
    font-size: .8rem;
  }
}